body {
  padding: 0;
  margin: 0;
  background-color: #f0dfc3;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Barracuda";
  src: url("../static/fonts/Barracuda-Bold.ttf");
}

.desktop {
  background-color: #f0dfc3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 414px) {
  .desktop {
    display: none;
  }
}

@media (orientation: portrait) {
  body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

:root {
  --swiper-theme-color: #4d509d !important;
}

.img-slider-1 {
  height: 220px !important;
  margin-bottom: 25px;
  margin-left: -20px;
  margin-top: -40px;
}

.lock-scroll {
  overflow-y: hidden;
}

.img-slider-3 {
  height: 160px !important;
  margin-bottom: 25px;
  margin-top: 1px;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  color: fff;
  height: 0;
}

.loading-screen {
  height: 100vh;
  width: -webkit-fill-available;
  background-color: #f0dfc3;
  z-index: 11;
  position: fixed;
  top: 0;
}

.intro-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  color: #4d509d;
  text-align: center;
}

.intro-content {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
}

.intro-head {
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  font-family: Barracuda, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
  letter-spacing: 0.8px;
  margin-bottom: 8px !important;
  text-align: center;
  color: #4d509d;
}

.first-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background: #4d509d;
  border-radius: 23px;
  border: 0;
  padding: 10px 24px;
  color: white;
  font-size: 16px;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  margin-top: 8px;
}

.third-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html {
  scrollbar-width: none;
}

.intro {
  height: 100vh !important;
}

video {
  z-index: 0;
}
.vjs-loading-spinner {
  margin-top: 25px !important;
}

.column-header-middle-tapa {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

.column-header-middle-tapa > p {
  margin: 0;
}

.swiper {
  height: 714px;
}
.image-container {
  height: 300px;
  background-color: green;
}

.section-scroll {
  scroll-snap-type: x mandatory;
}

.header-tapa {
  min-height: 50px;
  background-color: #f0dfc3;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  z-index: 10;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
}

.column-header-middle-tapa {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: black;
}

.column-header-middle-tapa > p {
  margin: 0;
}

.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
  padding: 0;
}

.img-header {
  height: 22px !important;
}

.video-js .vjs-tech {
  background-color: white !important;
  height: 270 !important;
  margin-top: 50px;
  z-index: 0;
}

video {
  z-index: 0;
}

.my-video-dimensions {
  height: 270px;
  width: 270px;
  background-color: white !important;
  z-index: 0;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 0;
  height: 270px;
  position: absolute;
  width: -webkit-fill-available;
  padding-bottom: 70px;
}

.info-tapa {
  z-index: 999;
  padding: 17px 24px;
  border-radius: 20px;
  margin-top: 0;
  background-color: #4d509d;
  min-height: 360px;
  color: white;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  position: absolute;
  top: 320px;
  width: -webkit-fill-available;
}

.bar-name {
  font-size: 15px !important;
  font-weight: 300;
  margin-top: 3px !important;
  margin-bottom: 2px !important;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.tapa-name {
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  font-family: Barracuda, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
  letter-spacing: 0.8px;
  margin-bottom: 8px !important;
}

.tapa-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.vjs-poster {
  height: 85% !important;
  background-color: #ffffff !important;
  margin-top: 10% !important;
}

.toggle-icon-closed svg {
  width: 10px;
  height: 10px;
}

.toggle-icon-opened svg {
  width: 10px;
  height: 10px;
}

.toggle-title {
  font-size: 18px;
  font-weight: 400;
  margin-left: 4px;
  letter-spacing: 0.2px;
}

.toggle {
  margin-bottom: 10px;
}

.toggle-content {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
  margin-top: 4px;
}

p {
  margin: 0;
}

.closed {
  display: none;
}

.footer {
  min-height: 90px;
  background-color: #f0dfc3;
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-evenly;
  align-items: center;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-footer img {
  max-height: 30px;
  width: 60px;
}
